*{

	font-family: Century Gothic;
}

.btn{
	border: 2px solid #0000;
	padding: 15px 15px;
	margin: 8px 4px;
	color: #000000;
	font-size:20px;
	background-color: white;
	display: block;
	text-decoration: none;
	position: absolut;
}
.btn:hover{
	background-color: c0c0c0;
}
	
